# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Node
node_modules/
.next/
*.tsbuildinfo

# Env
.env
.env.local
*.local

# Docker
*.log

# macOS
.DS_Store

# AWS
*.pem
